:root {
  --color_white: hsl(252, 30%, 100%);
  --color_light: hsl(252, 30%, 95%);
  --color_gray: hsl(252, 15%, 65%);
  --color_primary: hsl(265, 88%, 41%);
  --color_secondary: hsl(252, 100%, 90%);
  --color_success: hsl(252, 95%, 65%);
  --color_danger: hsl(0, 95%, 65%);
  --color_dark: hsl(252, 30%, 17%);
  --color_black: hsl(252, 30%, 10%);
  --color_basic: rgb(251, 251, 251);
  --color_background: #b2b0b041;
  --color_button: #c8c201;
  --color_button_hover: #e3db02;
  --color_rose: #e302b2;

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.5rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}


* {
  /* font-family: 'Dancing Script', cursive; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  /* height: max-content; */
  width: 100vw;
  /* height: 300px; */
  /* background: #4070f4; */
  overflow-x: hidden;
  /* display: grid; */
}



.btn {
  background: #0059c5;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7rem 2rem;
  width: 150px;
  border-radius: 5px;
  margin-top: .1rem;
}

.btn:hover {
  background: #004190;

}

.icon {
  background: #76c7b4;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem 1rem;
  width: max-content;
  border-radius: 20px;

}

/*-------------HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255,0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4%;
  z-index: 100;
  /* height: 45px; */
}


.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(218, 146, 174);

}

.header .logo i {
  color: #bac34e;
  padding-right: .5rem;
}


.header .navbar a {
  font-size: 1rem;
  color: #666;
  margin: 0 1rem;
  transition: .2s ease-in-out;
  padding: 15px 5px;
  cursor: pointer;
}

.header .navbar a:hover {
  color: #4f4f4f;
  background: rgba(40, 40, 40, 0.1);
  border-radius: 0 0 5px 5px;



}

.header .navbar .active {
  border-bottom: 3px solid #bac34e;
  border-radius: 0 0 3px 3px;
  padding: 12px;

}

.search-bar {
  background: var(--color_light);
  border-radius: 5px;
  padding: var(--search-padding);
  width: max-content;

}

.search-bar form {
  display: flex;
  gap: 1rem;
}


.search-bar input[type="search"] {
  background: transparent;
  width: 100px;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color_dark);
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color_gray);
}

.header .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  width: max-content;
  height: 35px;
  border-radius: 50px 20px 0px 50px;
  cursor: pointer;
  gap: 1rem;
}

.header .name {
  padding: 0 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4f4f4f;
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  box-shadow: 0 0;
}

.header .photo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  border: white 4px solid;
  transition: .3s ease-out;


}

.header .photo:hover {
  transform: scale(1.1);

}

.header .photo img {
  width: 100%;
  object-fit: cover;
}

.header .login-btn {
  background: rgba(0, 0, 102, 0.63);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  transition: 0.2s all ease;
}


.header .login-btn:hover {
  background: rgba(0, 0, 63, 0.842);

}

.header .menu i {
  transition: 0.3s;
  font-size: 25px;
  color: rgb(20, 20, 20);
}

.header .menu,
.header .bag-btn {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.header .menu i,
.bag-btn i {
  color: rgb(0, 71, 84);
}

.header .menu:hover,
.bag-btn:hover {
  background: rgba(102, 102, 102, 0.1);
  color: rgb(0, 0, 0);
  cursor: pointer;
}


.header .list-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 10rem;
  padding: 15px;
  opacity: 0;
  transition: .1s linear;

}


.header .list-menu.active {
  /* right: 2rem; */
  opacity: 1;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  z-index: 1000;
}

.header .list-menu .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
  position: relative;
  width: 90%;
  height: 25px;
  padding: 5px;

  border-bottom: 2px solid rgba(193, 193, 193, 0);
  transition: .2s;
}

.header .list-menu .box:hover {
  /* background: rgba(236, 236, 236, 0.422); */
  border-bottom: 2px solid rgb(126, 157, 197);

  /* transform: scaleZ(1); */

}

/* PAGES(------------------------------ */

.page {
  margin-top: 3rem;
  padding: 1rem;

}


/* ------------------------------SHOP---------------------------------- */
.content .buttons {
  display: flex;
  gap: 1rem;
}

.content .btn {
  background: #4ab7b9df;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem 2rem;
  width: 150px;
  border-radius: 5px;
  margin-top: .3rem;
}

.content .btn:hover {
  background: #006667;

}

.shop {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fill, 430px);
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(255, 255, 255);
  /* height: 83vh;
  overflow: hidden; */
  overflow-y: scroll;

}

.shop .add_btn {
  position: fixed;
  bottom: 10px;
  left: 20px;
  /* width: 50px; */
  background: #ad005f;
  padding: 10px 20px;
  color: white;
  box-shadow: 0px 2px 3px rgb(88, 88, 88);
  border-radius: 20px;
  transition: .3s all ease;
  display: none;
}

.shop .delete_product,
.shop .update_product {

  position: absolute;
  width: 20px;
  height: 20px;
  padding: 10px;
  box-shadow: 0px 0px 3px rgb(175, 175, 175);
  border-radius: 20px;
  transition: .3s all ease;
  display: none;

}

.shop .delete_product {
  top: -3px;
  right: 0;
  color: rgb(168, 0, 0);
  background: rgba(255, 0, 0, 0.05);

}

.shop .update_product {
  top: -3px;
  left: 0;
  color: rgb(0, 115, 192);
  background: rgba(0, 153, 255, 0.05);

}

.shop .delete_product.active,
.shop .update_product.active {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 80;
}

.shop .delete_product:hover .shop .update_product:hover {
  color: rgb(168, 1, 1);

}

.shop .add_btn.active {
  opacity: 1;
  display: flex;
}

.shop .add-btn:hover {
  transform: scale(1.03);
}

.shop .card,
.shop .addcard {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* background: rgb(255, 255, 255); */
  display: flex;
  /* border: 1px solid; */
  position: relative;
  flex-direction: column;
  /* box-shadow: 0px 0px 10px rgb(231, 231, 231); */

}

.shop .card .image {
  width: 100%;
  height: 75%;
  /* background: rgb(255, 0, 0); */
  overflow: hidden;
  background: rgb(255, 255, 255);

}

.shop .card .image img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  object-fit: cover;
  transition: .4s;
}

.shop .card .image:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

.shop .info {
  /* overflow: hidden; */
  height: max-content;
  padding: 5px;
  padding-left: 15px;
  line-height: 30px;
  /* box-shadow: 3px 5px 5px rgb(212, 211, 211); */
}

.shop p:first-child {
  width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(30, 30, 30);
}

.shop .price {
  /* border: 1px solid black; */
  width: 300px;
  height: 30px;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-weight: lighter; */
  color: rgb(86, 86, 86);

  /* float: left; */
}

.shop .date {
  /* border: 1px solid black; */
  width: 300px;
  height: 50px;
  font-size: .6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-weight: lighter; */
  color: rgb(63, 63, 63);
  /* float: left; */
}

.shop .addcard {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  background: linear-gradient(rgb(219, 199, 219), 34%, rgb(255, 224, 255), rgb(255, 223, 255));
  border-radius: 10px;
  box-shadow: 5px 0px 5px rgb(208, 208, 208);
  color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.shop .addcard:hover {
  transform: scale(1.07);
}

.shop .add {
  position: absolute;
  bottom: 3px;
  right: 3px;

  padding: 10px 15px;
  background: radial-gradient(rgb(135, 223, 204), rgb(1, 127, 106));
  color: transparent;
  -webkit-background-clip: text;
  font-size: 1.2rem;
  /* box-shadow: 3px 4px 4px rgb(158, 158, 158); */
  border-radius: 10%;
  transition: all .5s ease .2s;


}

.shop .add:hover {
  transform: scale(1.4);
  /* text-shadow: 0 0 9px rgb(238, 236, 236); */

}

.shop .edit {
  position: absolute;
  bottom: 3px;
  left: 3px;

  padding: 10px 15px;
  background: radial-gradient(rgb(66, 79, 76), rgb(1, 41, 35));
  color: transparent;
  -webkit-background-clip: text;
  font-size: 1.2rem;
  /* box-shadow: 3px 4px 4px rgb(158, 158, 158); */
  border-radius: 10%;
  transition: all .5s ease .2s;


}

.shop .edit:hover {
  transform: scale(1.4);
  /* text-shadow: 0 0 9px rgb(238, 236, 236); */

}

.shop .pourcent {
  display: flex;
  gap: 1rem;
  height: max-content;
}

.shop .pourcent .icon {
  background: linear-gradient(to right, rgb(141, 10, 147), rgb(209, 34, 209));
  border-radius: 5px;
}

/* ----------------------------------------PANIER---------------------------------- */
.link_panier {
  padding: 1rem 2rem;
  background: #57ae00;
  color: white;
  margin: auto;
  text-align: center;
}

.panier {
  background: rgb(240, 240, 240);
  width: auto;
  height: 100vh;
  padding: 5px;
  padding-right: 35px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panier .box {
  position: relative;
  width: 45%;
  height: max-content;
  padding: .4rem;
  background: rgb(255, 255, 255);
  /* margin-bottom: 5px; */
  display: grid;
  grid-template-columns: 15% 1fr 8%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* margin-top: 5px; */
  border-radius: .5rem;
  box-shadow: .1rem .1rem 10px rgb(223, 223, 223);
}

.panier .box img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.panier .box .name {
  font-size: .8rem;
  text-transform: uppercase;
  text-align: left;
}

.panier .box .price {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.panier .box .buttons .remove {
  font-size: 1.5rem;
  color: rgb(158, 0, 0);
}

.panier .box .buttons .remove:hover {
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

/* nouveau Objet */
#nouveauObjet {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(228, 228, 247);
}

.nouveauObjet {
  max-width: 410px;
  min-width: 410px;
  position: relative;
  /* width: max-content; */
  background: rgb(254, 254, 254);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nouveauObjet .img-area {
  position: relative;
  width: 100%;
  height: 150px;
  background: rgb(166, 166, 166);
  margin-bottom: 0px;
  border-radius: 1%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nouveauObjet .img-area .icon {
  font-size: 4rem;
  /* color: transparent; */
  /* background-clip: text; */
  /* background-image: linear-gradient(blue,pink); */
}

.nouveauObjet .img-area h3 {
  font-size: .7rem;
  font-weight: 500;
  margin-bottom: 6px;
  color: rgb(200, 200, 200);
}

.nouveauObjet .img-area p {
  color: #999;
}

.nouveauObjet .img-area p span {
  font-weight: 600;
}

.nouveauObjet .img-area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  z-index: 100;
}

.nouveauObjet .img-area::before {
  content: attr(data-img);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733);
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease;
  z-index: 200;
}

.nouveauObjet .img-area.active:hover::before {
  opacity: 1;
}



.nouveauObjet .selectbutton {
  display: flex;
  gap: 1rem;
}

.nouveauObjet .selectimage {
  display: block;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}

.nouveauObjet .import {
  background: rgb(20, 20, 126);
  color: rgb(255, 255, 255);
  box-shadow: -3px 5px 10px rgb(203, 203, 203);

}

.nouveauObjet .choose_avatar {
  background: var(--ciel);
  color: rgb(253, 253, 253);
  box-shadow: 3px 5px 10px rgb(201, 201, 201);

}

.nouveauObjet .go {
  padding: .5rem 1rem;
  background-color: #002046;
  border-radius: .1rem;
  border: none;
}

.nouveauObjet form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nouveauObjet input,
.nouveauObjet select {
  width: 150%;
  height: 2rem;
  /* padding: 1rem; */
  border: 2px solid rgb(170, 170, 170);
  border-radius: 5px;
}

.nouveauObjet .valider {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  width: 5rem;
  background: rgba(86, 15, 15, 0.681);
  color: white;
  border: none;
}

/*  */

/* propositions */
.propositions {
  display: grid;
  gap: 1rem;
}

.proposition {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 30% 50%;
  padding: .1rem 2rem;

  /* justify-content: center; */
  /* align-items: center; */
}

.proposition .data {
  display: flex;
  height: 50px;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btns .btn {
  height: auto;
  padding: .1rem .2rem;
  margin-top: 0;
}